.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px) !important;
  padding: 0rem 1.6rem;
}

.table {
  border: none !important;
}

.table-sm th,
.table-sm td {
  padding: 0.5rem !important;
  vertical-align: middle !important;
}

th {
  background-color: #dee2e6;
  border: 1px solid #fff;
}
