<div class="container">
    <button class="btn btn-link p-0 top_closed_btn" (click)="onCancel()">
        Close
    </button>
    <h2 class="font-weight-bold">{{dialogData?.isAdd ? 'Add' : 'Update'}} script engine</h2>
    <form [formGroup]="scriptEngineForm">
        <div class="form-row">
            <div class="form-group col-lg-12 col-md-12 col-12 mt-4">
                <label for="gname" class="required">Name</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid': (formErrors.name)}" id="gname" formControlName="name" autocomplete="off" (blur)="logValidationErrors()">
                <div *ngIf="formErrors.name">
                    <div class="input-validation-error-message">{{formErrors.name}}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-12 col-md-12 col-12 mt-4">
                <label for="gname" class="required">Enable</label>
                <select class="form-control" formControlName="enabled">
                    <option [value]="true">Yes</option>
                    <option [value]="false">No</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-12 col-md-12 col-12 mt-4">
                <label for="gname" class="required">Process pool size</label>
                <input type="number" class="form-control" [ngClass]="{'is-invalid': (formErrors.processPoolSize)}" id="gname" formControlName="processPoolSize" min="30" max="120" autocomplete="off" (blur)="logValidationErrors()">
                <div *ngIf="formErrors.processPoolSize">
                    <div class="input-validation-error-message">{{formErrors.processPoolSize}}</div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4 offset-2">
                <button class="btn btn-secondary btn-block" (click)="onCancel()">Cancel</button>
            </div>
            <div class="col-4">
                <button class="btn btn-primary btn-block" [disabled]="!scriptEngineForm.valid" (click)="updateScriptEngine()">
                    {{dialogData?.isAdd ? 'Save' : 'Update'}}
                </button>
            </div>
        </div>
    </form>
</div>