<div class="">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 d-flex">
            <h1 class="font-weight-bold">Plugin information</h1>
            <a class="btn btn-link addBtn" (click)="onRefresh()">
                <span class="iconlabel mr-2 lc-icon-Sync"></span>
                <span class="very-small-text">Refresh</span>
            </a>
        </div>
    </div>
    <!-- Laptop/Desktop View -->
    <div class="mt-4" *ngIf="scrWidth > 768">
        <div class="plugin_info_tbl">
            <!-- <table class="table table-bordered table-bordered-not-tbody">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th class="">Description</th>
                        <th>Last installation date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of plugins">
                        <td>{{item?.pluginName}}</td>
                        <td>{{item?.pluginVersion}}</td>
                        <td>{{'-'}}</td>
                        <td [innerHTML]="item?.lastUpdated | splitstr"></td>
                    </tr>
                </tbody>
            </table> -->

            <p-table [value]="plugins" [resizableColumns]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pResizableColumn>Name</th>
                        <th pResizableColumn>Version</th>
                        <th pResizableColumn>Description</th>
                        <th pResizableColumn>Last installation date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item?.pluginName}}</td>
                        <td class="text-right">{{item?.pluginVersion}}</td>
                        <td>{{'-'}}</td>
                        <td>
                            {{item?.lastUpdated}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="4" class="text-center">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- Mobile View -->
    <div class="row mt-4" *ngIf="scrWidth <= 768">
        <table class="table table-bordered table-bordered-not-tbody">
            <tbody>
                <ng-container *ngFor="let item of plugins">
                    <tr>
                        <th>
                            Name
                        </th>
                        <td>
                            {{item?.pluginName}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Version
                        </th>
                        <td>
                            {{item?.pluginVersion}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Description
                        </th>
                        <td>
                            {{'-'}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Last installation date
                        </th>
                        <td>
                            {{item?.lastUpdated}}
                        </td>
                    </tr>
                    <br>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>