// primeng calender component
.ui-widget-header .ui-inputtext,
.ui-widget-content .ui-inputtext,
.ui-calendar input {
    width: 100%;
}

.ui-calendar {
    width: 95%;
}

.ui-calendar .ui-datepicker {top:20px !important;}

.ui-calendar input,
.ui-widget-header .ui-inputtext, 
.ui-widget-content .ui-inputtext{
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 6px;
    box-shadow: none;
}
.ui-inputtext:enabled:hover:not(.ui-state-error){
    border-color: #62b3e5 !important;
    background: #e5f6fe;
}