.card-wrapper {
    .ui-menu.ui-menu-dynamic,
    .ui-menu-dynamic{
        top: 0 !important;
        left: 0 !important;
        float: right;
        position: absolute !important;
        right: 5px !important;
    }
  } 