@font-face {
  font-family: 'Lovicons';
  src:
    url('fonts/Lovicons.ttf?74vwxg') format('truetype'),
    url('fonts/Lovicons.woff?74vwxg') format('woff'),
    url('fonts/Lovicons.svg?74vwxg#Lovicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lc-icon-"], [class*=" lc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lovicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lc-icon-User-edit:before {
  content: "\eaa0";
}
.lc-icon-Add-alt:before {
  content: "\ea94";
}
.lc-icon-Blood:before {
  content: "\ea95";
}
.lc-icon-Code:before {
  content: "\ea96";
}
.lc-icon-Crystal-ball:before {
  content: "\ea97";
}
.lc-icon-Flag-alt:before {
  content: "\ea98";
}
.lc-icon-Flag:before {
  content: "\ea99";
}
.lc-icon-Gavel-crossed:before {
  content: "\ea9a";
}
.lc-icon-Language:before {
  content: "\ea9b";
}
.lc-icon-Rate-fill:before {
  content: "\ea9c";
}
.lc-icon-Student:before {
  content: "\ea9d";
}
.lc-icon-Subtract-alt:before {
  content: "\ea9e";
}
.lc-icon-Subtract:before {
  content: "\ea9f";
}
.lc-icon-Search-clipboard:before {
  content: "\ea92";
}
.lc-icon-Search-notepad:before {
  content: "\ea93";
}
.lc-icon-Signature-alt:before {
  content: "\e909";
}
.lc-icon-Heading-notes:before {
  content: "\ea10";
}
.lc-icon-Heading:before {
  content: "\ea7f";
}
.lc-icon-Mobile-config:before {
  content: "\ea85";
}
.lc-icon-Delete-alt2:before {
  content: "\ea86";
}
.lc-icon-Timeline:before {
  content: "\ea87";
}
.lc-icon-Send-alt:before {
  content: "\ea88";
}
.lc-icon-Arrow-up-thick:before {
  content: "\ea89";
}
.lc-icon-Arrow-right-thick:before {
  content: "\ea8a";
}
.lc-icon-Arrow-down-thick:before {
  content: "\ea8b";
}
.lc-icon-Arrow-left-thick:before {
  content: "\ea8c";
}
.lc-icon-Reply-all:before {
  content: "\ea8d";
}
.lc-icon-Reply-alt:before {
  content: "\ea8e";
}
.lc-icon-Flip-camera-alt:before {
  content: "\ea8f";
}
.lc-icon-Flip-camera:before {
  content: "\ea90";
}
.lc-icon-User-check:before {
  content: "\ea91";
}
.lc-icon-Add-user:before {
  content: "\ea69";
}
.lc-icon-Align-center:before {
  content: "\ea6a";
}
.lc-icon-Align-left:before {
  content: "\ea6b";
}
.lc-icon-Align-right:before {
  content: "\ea6c";
}
.lc-icon-Block-alt:before {
  content: "\ea6d";
}
.lc-icon-Block:before {
  content: "\ea6e";
}
.lc-icon-Blockchain:before {
  content: "\ea6f";
}
.lc-icon-Calendar-alt-2:before {
  content: "\ea70";
}
.lc-icon-Copy-left:before {
  content: "\ea71";
}
.lc-icon-Copy-right:before {
  content: "\ea72";
}
.lc-icon-Cpu-alt:before {
  content: "\ea73";
}
.lc-icon-Cpu-alt2:before {
  content: "\ea74";
}
.lc-icon-Date-and-time:before {
  content: "\ea75";
}
.lc-icon-Fit-to-width:before {
  content: "\ea76";
}
.lc-icon-Floppy:before {
  content: "\ea77";
}
.lc-icon-Forward:before {
  content: "\ea78";
}
.lc-icon-Goal-alt:before {
  content: "\ea79";
}
.lc-icon-Goal:before {
  content: "\ea7a";
}
.lc-icon-History:before {
  content: "\ea7b";
}
.lc-icon-Import:before {
  content: "\ea7c";
}
.lc-icon-More:before {
  content: "\ea7d";
}
.lc-icon-Other-user:before {
  content: "\ea7e";
}
.lc-icon-Rotate:before {
  content: "\ea80";
}
.lc-icon-Signature:before {
  content: "\ea81";
}
.lc-icon-Sms:before {
  content: "\ea82";
}
.lc-icon-Token:before {
  content: "\ea83";
}
.lc-icon-Undo:before {
  content: "\ea84";
}
.lc-icon-Cancel-all:before {
  content: "\ea68";
}
.lc-icon-Not-signed:before {
  content: "\ea67";
}
.lc-icon-Absence:before {
  content: "\e900";
}
.lc-icon-Add-circle:before {
  content: "\e901";
}
.lc-icon-Add-document:before {
  content: "\e902";
}
.lc-icon-Add-page:before {
  content: "\e903";
}
.lc-icon-Add:before {
  content: "\e904";
}
.lc-icon-Agile:before {
  content: "\e905";
}
.lc-icon-Alarm:before {
  content: "\e906";
}
.lc-icon-Alert-alt:before {
  content: "\e907";
}
.lc-icon-Alert:before {
  content: "\e908";
}
.lc-icon-Ambulance:before {
  content: "\e90a";
}
.lc-icon-App-window:before {
  content: "\e90b";
}
.lc-icon-Appartment:before {
  content: "\e90c";
}
.lc-icon-Apple:before {
  content: "\e90d";
}
.lc-icon-Archive:before {
  content: "\e90e";
}
.lc-icon-Arrow-down:before {
  content: "\e90f";
}
.lc-icon-Arrow-left:before {
  content: "\e910";
}
.lc-icon-Arrow-right:before {
  content: "\e911";
}
.lc-icon-Arrow-up:before {
  content: "\e912";
}
.lc-icon-Attachment:before {
  content: "\e913";
}
.lc-icon-Back:before {
  content: "\e914";
}
.lc-icon-Backpack:before {
  content: "\e915";
}
.lc-icon-Badge-add:before {
  content: "\e916";
}
.lc-icon-Badge-count:before {
  content: "\e917";
}
.lc-icon-Badge-remove:before {
  content: "\e918";
}
.lc-icon-Badge-restricted:before {
  content: "\e919";
}
.lc-icon-Bag-alt:before {
  content: "\e91a";
}
.lc-icon-Bag:before {
  content: "\e91b";
}
.lc-icon-Band-aid:before {
  content: "\e91c";
}
.lc-icon-Bar-chart:before {
  content: "\e91d";
}
.lc-icon-Bars:before {
  content: "\e91e";
}
.lc-icon-Battery-full:before {
  content: "\e91f";
}
.lc-icon-Battery-low:before {
  content: "\e920";
}
.lc-icon-Battery:before {
  content: "\e921";
}
.lc-icon-Bed:before {
  content: "\e922";
}
.lc-icon-Bell:before {
  content: "\e923";
}
.lc-icon-Bike-alt:before {
  content: "\e924";
}
.lc-icon-Bike:before {
  content: "\e925";
}
.lc-icon-Bluetooth:before {
  content: "\e926";
}
.lc-icon-Book-alt-2:before {
  content: "\e927";
}
.lc-icon-Book-alt-3:before {
  content: "\e928";
}
.lc-icon-Book-alt:before {
  content: "\e929";
}
.lc-icon-Book:before {
  content: "\e92a";
}
.lc-icon-Bookmark:before {
  content: "\e92b";
}
.lc-icon-Books:before {
  content: "\e92c";
}
.lc-icon-Bottle:before {
  content: "\e92d";
}
.lc-icon-Bug:before {
  content: "\e92e";
}
.lc-icon-Bulleted-list:before {
  content: "\e92f";
}
.lc-icon-Bullhorn:before {
  content: "\e930";
}
.lc-icon-Bus:before {
  content: "\e931";
}
.lc-icon-Calculator-alt:before {
  content: "\e932";
}
.lc-icon-Calculator:before {
  content: "\e933";
}
.lc-icon-Calendar-alt:before {
  content: "\e934";
}
.lc-icon-Calendar-cancel:before {
  content: "\e935";
}
.lc-icon-Calendar-check:before {
  content: "\e936";
}
.lc-icon-Calendar:before {
  content: "\e937";
}
.lc-icon-Camcorder:before {
  content: "\e938";
}
.lc-icon-Car:before {
  content: "\e939";
}
.lc-icon-Certificate:before {
  content: "\e93a";
}
.lc-icon-Chat-alt:before {
  content: "\e93b";
}
.lc-icon-Chat:before {
  content: "\e93c";
}
.lc-icon-Check-circle-2:before {
  content: "\e93d";
}
.lc-icon-Check-circle-3:before {
  content: "\e93e";
}
.lc-icon-Check-circle:before {
  content: "\e93f";
}
.lc-icon-Check:before {
  content: "\e940";
}
.lc-icon-Checklist:before {
  content: "\e941";
}
.lc-icon-Client:before {
  content: "\e942";
}
.lc-icon-Clipboard-check:before {
  content: "\e943";
}
.lc-icon-Clipboard-checklist:before {
  content: "\e944";
}
.lc-icon-Clipboard-w-writing:before {
  content: "\e945";
}
.lc-icon-Clipboard:before {
  content: "\e946";
}
.lc-icon-Cloud-alt:before {
  content: "\e947";
}
.lc-icon-Cloud-upload:before {
  content: "\e948";
}
.lc-icon-Cloud:before {
  content: "\e949";
}
.lc-icon-Coat-hanger:before {
  content: "\e94a";
}
.lc-icon-Coffee-maker:before {
  content: "\e94b";
}
.lc-icon-Coffee:before {
  content: "\e94c";
}
.lc-icon-Coin-dollar:before {
  content: "\e94d";
}
.lc-icon-Coin-euro:before {
  content: "\e94e";
}
.lc-icon-Coins:before {
  content: "\e94f";
}
.lc-icon-Collaborate:before {
  content: "\e950";
}
.lc-icon-Collapse:before {
  content: "\e951";
}
.lc-icon-Color-bucket:before {
  content: "\e952";
}
.lc-icon-Colorpicker:before {
  content: "\e953";
}
.lc-icon-Conference-alt:before {
  content: "\e954";
}
.lc-icon-Conference:before {
  content: "\e955";
}
.lc-icon-Connections:before {
  content: "\e956";
}
.lc-icon-Contacts:before {
  content: "\e957";
}
.lc-icon-Copy:before {
  content: "\e958";
}
.lc-icon-Cpu:before {
  content: "\e959";
}
.lc-icon-Credit-card:before {
  content: "\e95a";
}
.lc-icon-Critical:before {
  content: "\e95b";
}
.lc-icon-Crown:before {
  content: "\e95c";
}
.lc-icon-Cutlery:before {
  content: "\e95d";
}
.lc-icon-Dashboard:before {
  content: "\e95e";
}
.lc-icon-Delete-alt:before {
  content: "\e95f";
}
.lc-icon-Delete:before {
  content: "\e960";
}
.lc-icon-Dental-drill:before {
  content: "\e961";
}
.lc-icon-Dental-tools-alt:before {
  content: "\e962";
}
.lc-icon-Dental-tools:before {
  content: "\e963";
}
.lc-icon-Disc:before {
  content: "\e964";
}
.lc-icon-Display:before {
  content: "\e965";
}
.lc-icon-Dna:before {
  content: "\e966";
}
.lc-icon-Doc-file:before {
  content: "\e967";
}
.lc-icon-Doctor:before {
  content: "\e968";
}
.lc-icon-Document:before {
  content: "\e969";
}
.lc-icon-Documents:before {
  content: "\e96a";
}
.lc-icon-Download-alt:before {
  content: "\e96b";
}
.lc-icon-Download:before {
  content: "\e96c";
}
.lc-icon-Drink:before {
  content: "\e96d";
}
.lc-icon-Duplicate-column:before {
  content: "\e96e";
}
.lc-icon-Duplicate-row:before {
  content: "\e96f";
}
.lc-icon-Duplicate:before {
  content: "\e970";
}
.lc-icon-Eco-system:before {
  content: "\e971";
}
.lc-icon-Edit-alt-2:before {
  content: "\e972";
}
.lc-icon-Edit-alt:before {
  content: "\e973";
}
.lc-icon-Edit-time:before {
  content: "\e974";
}
.lc-icon-Edit:before {
  content: "\e975";
}
.lc-icon-Eject:before {
  content: "\e976";
}
.lc-icon-Electric-bike:before {
  content: "\e977";
}
.lc-icon-End:before {
  content: "\e978";
}
.lc-icon-Equalizer:before {
  content: "\e979";
}
.lc-icon-Erase:before {
  content: "\e97a";
}
.lc-icon-Expand:before {
  content: "\e97b";
}
.lc-icon-Export:before {
  content: "\e97c";
}
.lc-icon-Eye:before {
  content: "\e97d";
}
.lc-icon-Factory:before {
  content: "\e97e";
}
.lc-icon-Fast-forward:before {
  content: "\e97f";
}
.lc-icon-Favorite:before {
  content: "\e980";
}
.lc-icon-Female:before {
  content: "\e981";
}
.lc-icon-File-cabinett-alt:before {
  content: "\e982";
}
.lc-icon-File-cabinett:before {
  content: "\e983";
}
.lc-icon-Filter-alt:before {
  content: "\e984";
}
.lc-icon-Filter:before {
  content: "\e985";
}
.lc-icon-First-aid-kit:before {
  content: "\e986";
}
.lc-icon-Flash:before {
  content: "\e987";
}
.lc-icon-Flight:before {
  content: "\e988";
}
.lc-icon-Folder-open:before {
  content: "\e989";
}
.lc-icon-Folder:before {
  content: "\e98a";
}
.lc-icon-Fullscreen-alt:before {
  content: "\e98b";
}
.lc-icon-Gavel:before {
  content: "\e98c";
}
.lc-icon-Globe:before {
  content: "\e98d";
}
.lc-icon-Graph:before {
  content: "\e98e";
}
.lc-icon-Hand:before {
  content: "\e98f";
}
.lc-icon-Hdd:before {
  content: "\e990";
}
.lc-icon-Headphones:before {
  content: "\e991";
}
.lc-icon-Headset:before {
  content: "\e992";
}
.lc-icon-Healthcare-symbol:before {
  content: "\e993";
}
.lc-icon-Helicopter:before {
  content: "\e994";
}
.lc-icon-Help-alt:before {
  content: "\e995";
}
.lc-icon-Help:before {
  content: "\e996";
}
.lc-icon-Hierarchy:before {
  content: "\e997";
}
.lc-icon-Home:before {
  content: "\e998";
}
.lc-icon-Hospital-alt:before {
  content: "\e999";
}
.lc-icon-Hospital:before {
  content: "\e99a";
}
.lc-icon-Hourglass-alt:before {
  content: "\e99b";
}
.lc-icon-Hourglass:before {
  content: "\e99c";
}
.lc-icon-HSL:before {
  content: "\e99d";
}
.lc-icon-Inbox:before {
  content: "\e99e";
}
.lc-icon-Indent:before {
  content: "\e99f";
}
.lc-icon-Infinity:before {
  content: "\e9a0";
}
.lc-icon-Info:before {
  content: "\e9a1";
}
.lc-icon-Install:before {
  content: "\e9a2";
}
.lc-icon-Instances:before {
  content: "\e9a3";
}
.lc-icon-Iphone:before {
  content: "\e9a4";
}
.lc-icon-IV:before {
  content: "\e9a5";
}
.lc-icon-Key:before {
  content: "\e9a6";
}
.lc-icon-Keyboard:before {
  content: "\e9a7";
}
.lc-icon-Lab:before {
  content: "\e9a8";
}
.lc-icon-Lamp:before {
  content: "\e9a9";
}
.lc-icon-Laptop:before {
  content: "\e9aa";
}
.lc-icon-Layout:before {
  content: "\e9ab";
}
.lc-icon-Left-align:before {
  content: "\e9ac";
}
.lc-icon-Letter:before {
  content: "\e9ad";
}
.lc-icon-Light-bulb-alt:before {
  content: "\e9ae";
}
.lc-icon-Light-bulb:before {
  content: "\e9af";
}
.lc-icon-Light-down:before {
  content: "\e9b0";
}
.lc-icon-Light-up:before {
  content: "\e9b1";
}
.lc-icon-Links:before {
  content: "\e9b2";
}
.lc-icon-List-alt:before {
  content: "\e9b3";
}
.lc-icon-List:before {
  content: "\e9b4";
}
.lc-icon-Load:before {
  content: "\e9b5";
}
.lc-icon-Loading:before {
  content: "\e9b6";
}
.lc-icon-Lock-alt:before {
  content: "\e9b7";
}
.lc-icon-Lock:before {
  content: "\e9b8";
}
.lc-icon-Log-in:before {
  content: "\e9b9";
}
.lc-icon-Logout:before {
  content: "\e9ba";
}
.lc-icon-Magic-wand-alt:before {
  content: "\e9bb";
}
.lc-icon-Magic-wand:before {
  content: "\e9bc";
}
.lc-icon-Mailbox:before {
  content: "\e9bd";
}
.lc-icon-Male-female:before {
  content: "\e9be";
}
.lc-icon-Male:before {
  content: "\e9bf";
}
.lc-icon-Map-location:before {
  content: "\e9c0";
}
.lc-icon-Map-pin:before {
  content: "\e9c1";
}
.lc-icon-Map:before {
  content: "\e9c2";
}
.lc-icon-Marker:before {
  content: "\e9c3";
}
.lc-icon-Medal:before {
  content: "\e9c4";
}
.lc-icon-Medication:before {
  content: "\e9c5";
}
.lc-icon-Menu:before {
  content: "\e9c6";
}
.lc-icon-Message-open:before {
  content: "\e9c7";
}
.lc-icon-Messages:before {
  content: "\e9c8";
}
.lc-icon-Microscope:before {
  content: "\e9c9";
}
.lc-icon-Microwave:before {
  content: "\e9ca";
}
.lc-icon-Minimize:before {
  content: "\e9cb";
}
.lc-icon-Mouse:before {
  content: "\e9cc";
}
.lc-icon-Movie-alt:before {
  content: "\e9cd";
}
.lc-icon-Music:before {
  content: "\e9ce";
}
.lc-icon-Navigation-bottom:before {
  content: "\e9cf";
}
.lc-icon-Navigation-down:before {
  content: "\e9d0";
}
.lc-icon-Navigation-first:before {
  content: "\e9d1";
}
.lc-icon-Navigation-last:before {
  content: "\e9d2";
}
.lc-icon-Navigation-left:before {
  content: "\e9d3";
}
.lc-icon-Navigation-right:before {
  content: "\e9d4";
}
.lc-icon-Navigation-top:before {
  content: "\e9d5";
}
.lc-icon-Navigation-up:before {
  content: "\e9d6";
}
.lc-icon-Navigation:before {
  content: "\e9d7";
}
.lc-icon-Next:before {
  content: "\e9d8";
}
.lc-icon-Nfc:before {
  content: "\e9d9";
}
.lc-icon-Notepad:before {
  content: "\e9da";
}
.lc-icon-Notes-alt:before {
  content: "\e9db";
}
.lc-icon-Notes:before {
  content: "\e9dc";
}
.lc-icon-Nurse-alt:before {
  content: "\e9dd";
}
.lc-icon-Nurse:before {
  content: "\e9de";
}
.lc-icon-Office-alt:before {
  content: "\e9df";
}
.lc-icon-Office:before {
  content: "\e9e0";
}
.lc-icon-Open-door:before {
  content: "\e9e1";
}
.lc-icon-Open-messages:before {
  content: "\e9e2";
}
.lc-icon-Ordered-list:before {
  content: "\e9e3";
}
.lc-icon-Out:before {
  content: "\e9e4";
}
.lc-icon-Outbox:before {
  content: "\e9e5";
}
.lc-icon-Outdent:before {
  content: "\e9e6";
}
.lc-icon-Parent:before {
  content: "\e9e7";
}
.lc-icon-Pause:before {
  content: "\e9e8";
}
.lc-icon-Pdf_file:before {
  content: "\e9e9";
}
.lc-icon-People:before {
  content: "\e9ea";
}
.lc-icon-Perti-dish:before {
  content: "\e9eb";
}
.lc-icon-Phone:before {
  content: "\e9ec";
}
.lc-icon-Picture:before {
  content: "\e9ed";
}
.lc-icon-Pictures:before {
  content: "\e9ee";
}
.lc-icon-Pie-chart:before {
  content: "\e9ef";
}
.lc-icon-Pills:before {
  content: "\e9f0";
}
.lc-icon-Plant:before {
  content: "\e9f1";
}
.lc-icon-Play-circle:before {
  content: "\e9f2";
}
.lc-icon-Play:before {
  content: "\e9f3";
}
.lc-icon-Power-outlet-alt:before {
  content: "\e9f4";
}
.lc-icon-Power-outlet:before {
  content: "\e9f5";
}
.lc-icon-Power:before {
  content: "\e9f6";
}
.lc-icon-Preschool:before {
  content: "\e9f7";
}
.lc-icon-Previous:before {
  content: "\e9f8";
}
.lc-icon-Pricing-dollar:before {
  content: "\e9f9";
}
.lc-icon-Pricing:before {
  content: "\e9fa";
}
.lc-icon-Print:before {
  content: "\e9fb";
}
.lc-icon-Process:before {
  content: "\e9fc";
}
.lc-icon-Projector-screen-alt:before {
  content: "\e9fd";
}
.lc-icon-Projector-screen:before {
  content: "\e9fe";
}
.lc-icon-Projector:before {
  content: "\e9ff";
}
.lc-icon-Pulse:before {
  content: "\ea00";
}
.lc-icon-Push-pin:before {
  content: "\ea01";
}
.lc-icon-QR:before {
  content: "\ea02";
}
.lc-icon-Radio-alt-2:before {
  content: "\ea03";
}
.lc-icon-Radio-alt:before {
  content: "\ea04";
}
.lc-icon-Radio:before {
  content: "\ea05";
}
.lc-icon-Ram-alt:before {
  content: "\ea06";
}
.lc-icon-Ram:before {
  content: "\ea07";
}
.lc-icon-Rate:before {
  content: "\ea08";
}
.lc-icon-Receipt:before {
  content: "\ea09";
}
.lc-icon-Record:before {
  content: "\ea0a";
}
.lc-icon-Recurring:before {
  content: "\ea0b";
}
.lc-icon-Refridgerator:before {
  content: "\ea0c";
}
.lc-icon-Remove-document:before {
  content: "\ea0d";
}
.lc-icon-Remove-page:before {
  content: "\ea0e";
}
.lc-icon-Repeat:before {
  content: "\ea0f";
}
.lc-icon-Router:before {
  content: "\ea11";
}
.lc-icon-Ruler:before {
  content: "\ea12";
}
.lc-icon-Scale-up:before {
  content: "\ea13";
}
.lc-icon-Scale:before {
  content: "\ea14";
}
.lc-icon-School-building:before {
  content: "\ea15";
}
.lc-icon-Scissor:before {
  content: "\ea16";
}
.lc-icon-Screen-sharing:before {
  content: "\ea17";
}
.lc-icon-Scull:before {
  content: "\ea18";
}
.lc-icon-Search:before {
  content: "\ea19";
}
.lc-icon-Send:before {
  content: "\ea1a";
}
.lc-icon-Sensor:before {
  content: "\ea1b";
}
.lc-icon-Server:before {
  content: "\ea1c";
}
.lc-icon-Settings:before {
  content: "\ea1d";
}
.lc-icon-Share-alt:before {
  content: "\ea1e";
}
.lc-icon-Share:before {
  content: "\ea1f";
}
.lc-icon-Shield-alt:before {
  content: "\ea20";
}
.lc-icon-Shield:before {
  content: "\ea21";
}
.lc-icon-Shopping-bag:before {
  content: "\ea22";
}
.lc-icon-Shopping-basket:before {
  content: "\ea23";
}
.lc-icon-Shopping-cart-alt:before {
  content: "\ea24";
}
.lc-icon-Shower:before {
  content: "\ea25";
}
.lc-icon-Shuffle:before {
  content: "\ea26";
}
.lc-icon-Slide-show:before {
  content: "\ea27";
}
.lc-icon-Sound-low:before {
  content: "\ea28";
}
.lc-icon-Sound-medium:before {
  content: "\ea29";
}
.lc-icon-Sound-off:before {
  content: "\ea2a";
}
.lc-icon-Sound:before {
  content: "\ea2b";
}
.lc-icon-Split-arrows:before {
  content: "\ea2c";
}
.lc-icon-Ssd-alt:before {
  content: "\ea2d";
}
.lc-icon-Ssd:before {
  content: "\ea2e";
}
.lc-icon-Stats:before {
  content: "\ea2f";
}
.lc-icon-Stethoscope:before {
  content: "\ea30";
}
.lc-icon-Stop-watch-alt:before {
  content: "\ea31";
}
.lc-icon-Stop-watch:before {
  content: "\ea32";
}
.lc-icon-Stop:before {
  content: "\ea33";
}
.lc-icon-Sync:before {
  content: "\ea34";
}
.lc-icon-Syringe-alt:before {
  content: "\ea35";
}
.lc-icon-Syringe:before {
  content: "\ea36";
}
.lc-icon-Tablet:before {
  content: "\ea37";
}
.lc-icon-Tag-alt:before {
  content: "\ea38";
}
.lc-icon-Tag:before {
  content: "\ea39";
}
.lc-icon-Test-tube:before {
  content: "\ea3a";
}
.lc-icon-Test-tubes:before {
  content: "\ea3b";
}
.lc-icon-Thermometer-alt:before {
  content: "\ea3c";
}
.lc-icon-Thermometer:before {
  content: "\ea3d";
}
.lc-icon-Thumb-down:before {
  content: "\ea3e";
}
.lc-icon-Thumb-up:before {
  content: "\ea3f";
}
.lc-icon-Thumbnails-alt:before {
  content: "\ea40";
}
.lc-icon-Thumbnails-list:before {
  content: "\ea41";
}
.lc-icon-Thumbnails:before {
  content: "\ea42";
}
.lc-icon-Time-alt:before {
  content: "\ea43";
}
.lc-icon-Time-is-money:before {
  content: "\ea44";
}
.lc-icon-Time:before {
  content: "\ea45";
}
.lc-icon-Toilet-paper:before {
  content: "\ea46";
}
.lc-icon-Tools:before {
  content: "\ea47";
}
.lc-icon-Transfer:before {
  content: "\ea48";
}
.lc-icon-Trash-alt:before {
  content: "\ea49";
}
.lc-icon-Trash:before {
  content: "\ea4a";
}
.lc-icon-Trend:before {
  content: "\ea4b";
}
.lc-icon-Trophy:before {
  content: "\ea4c";
}
.lc-icon-Umbrella:before {
  content: "\ea4d";
}
.lc-icon-Unlocked:before {
  content: "\ea4e";
}
.lc-icon-Update:before {
  content: "\ea4f";
}
.lc-icon-Upload:before {
  content: "\ea50";
}
.lc-icon-User-alt:before {
  content: "\ea51";
}
.lc-icon-User-info:before {
  content: "\ea52";
}
.lc-icon-User:before {
  content: "\ea53";
}
.lc-icon-Users-times-two:before {
  content: "\ea54";
}
.lc-icon-Users:before {
  content: "\ea55";
}
.lc-icon-Utilities:before {
  content: "\ea56";
}
.lc-icon-Wallet:before {
  content: "\ea57";
}
.lc-icon-Washing:before {
  content: "\ea58";
}
.lc-icon-Wheelchair:before {
  content: "\ea59";
}
.lc-icon-Whiteboard:before {
  content: "\ea5a";
}
.lc-icon-Video:before {
  content: "\ea5b";
}
.lc-icon-Voice:before {
  content: "\ea5c";
}
.lc-icon-Word-file:before {
  content: "\ea5d";
}
.lc-icon-Wrench:before {
  content: "\ea5e";
}
.lc-icon-Wrist-watch:before {
  content: "\ea5f";
}
.lc-icon-Writing:before {
  content: "\ea60";
}
.lc-icon-Xls-file:before {
  content: "\ea61";
}
.lc-icon-Xray-alt:before {
  content: "\ea62";
}
.lc-icon-Xray:before {
  content: "\ea63";
}
.lc-icon-Z-axis-rotation:before {
  content: "\ea64";
}
.lc-icon-Zoom-in:before {
  content: "\ea65";
}
.lc-icon-Zoom-out:before {
  content: "\ea66";
}