.top_closed_btn {
    float: right;
    text-decoration: none;
}

.add_workspace {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    // padding: inherit;
    padding-right: 10px;
}

.edit_workspace {
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    // padding: inherit;
    padding-right: 10px;
}