.schedulerRow {
  justify-content: space-between !important;
}

.schedulerBtnRow {
  justify-content: space-between !important;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px) !important;
  padding: 0rem 1rem;
}
