table {
  width: auto !important;
  // margin-left: auto;
  // margin-right: auto;
}

th {
  position: sticky;
  top: 0;
  z-index: 999;
}

td {
  word-break: break-all;
}

.application_services_tbl {
  // height: 480px;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

:host {
  ::ng-deep .ui-table table {
    width: auto !important;
  }
}

@media only screen and (max-device-width: 768px) {
  table,
  td {
    border: none;
  }
  th {
    background-color: #dee2e6;
    border: 1px solid #fff;
  }
}
