<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h2 class="font-weight-bold p-0 mb-0">Script Versions</h2>
    <a class="btn btn-link p-0" (click)="onClose()">
      Close
    </a>
  </div>

  <ng-container>
    <div class="version_tbl">
      <table class="table table-bordered table-bordered-not-tbody">
        <thead class="thead-light">
          <tr>
            <th style="width: 5%;">Version no.</th>
            <th>Date</th>
            <th>User Name</th>
            <th>Release Note</th>
            <ng-container *ngIf="isUserHaveTemplateAndSysLibAccess && (dialogData?.isCURDUserScriptAccess || dialogData?.isCURDTemplateAccess || dialogData?.isCURDSysLibAccess)">
              <th>Restore</th>
              <th>Deploy</th>
              <th>Delete</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of versionsList">
            <td class="text-center">
              <a class="btn btn-link p-0" [class.disabled]="false" (click)="viewVersionHistory(v)">
                {{v?.versionNumber}}
              </a>
            </td>
            <td>{{v?.createdOn}}</td>
            <td>{{v?.createdBy}}</td>
            <td>
              {{v?.note ? v?.note : '-'}}
            </td>
            <ng-container *ngIf="isUserHaveTemplateAndSysLibAccess && (dialogData?.isCURDUserScriptAccess || dialogData?.isCURDTemplateAccess || dialogData?.isCURDSysLibAccess)">
              <td class="text-center">
                <a class="btn btn-link p-0" [class.disabled]="!dialogData?.lockInfo?.isLocked"
                  (click)="restoreScriptVersion(v)">
                  <span class="iconlabel mr-2 lc-icon-Undo"></span>
                </a>
              </td>
              <td class="text-center">
                <a class="btn btn-link p-0" [class.disabled]="v?.deployedVersion" (click)="deployScriptVersion(v)">
                  <span class="iconlabel mr-2 lc-icon-Import"></span>
                </a>
              </td>
              <td class="text-center">
                <a class="btn btn-link p-0"
                  [class.disabled]="!dialogData?.lockInfo?.isLocked || (v?.deployedVersion || v?.activeVersion)"
                  (click)="removeScriptVersion(v)">
                  <span class="iconlabel mr-2 lc-icon-Trash-alt"></span>
                </a>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>