.top_closed_btn {
    float: right;
    text-decoration: none;
}

// label {
//     font-weight: normal;
// }

.task_input {
    background-color: transparent;
    border: none;
    border-radius: none;
    padding: 0px;
}