<div class="custom_mb_4">
    <h1 class="font-weight-bold">Profile</h1>
    <p>{{subHeading}}</p>
    <form [formGroup]="profileForm">
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-6 col-12" *ngIf="false && (currentUser?.superAdminUser || currentUser?.adminUser)">
                <label class="required">User type</label>
                <ng-select class="custom" formControlName="userType" [items]="filteredUserTypes" [multiple]="false" [clearable]="false" [searchable]="true" bindLabel="name" bindValue="id" placeholder="--Select user type--" (blur)="logValidationErrors()" (change)="onChangeUserType($event?.id)">
                </ng-select>
                <div *ngIf="formErrors.provider">
                    <div class="input-validation-error-message">{{formErrors.provider}}</div>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="name" class="required">Name</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid': formErrors.name}" id="name" formControlName="name" (blur)="logValidationErrors()" autocomplete="off">
                <div *ngIf="formErrors.name && !isProfileNamePresent">
                    <div class="input-validation-error-message">{{formErrors.name}}</div>
                </div>
                <div *ngIf="isProfileNamePresent">
                    <div class="input-validation-error-message">Profile name is already present</div>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="" class="required">Connected roles</label>
                <ng-select class="custom" formControlName="roleDataList" [items]="filteredRolesArr" [multiple]="true" [clearable]="false" [closeOnSelect]="false" bindLabel="name" bindValue="id" placeholder="--Select role--" (blur)="logValidationErrors()" [(ngModel)]="selectedRole"></ng-select>
                <div *ngIf="formErrors.roleDataList">
                    <div class="input-validation-error-message">{{formErrors.roleDataList}}</div>
                </div>
                <a class="btn btn-link pl-0" [class.disabled]="(profileById?.superAdminProfile && currentUser?.superAdminUser) || (profileById?.adminProfile && currentUser?.adminUser)" (click)="addRole()">
                    <span class="mr-2 lc-icon-Add"></span>
                    <span class="font-weight-normal">Add role</span>
                </a>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="des">Description</label>
                <textarea class="form-control" id="des" autosize rows="2" cols="5" [ngClass]="{'is-invalid': formErrors.description}" formControlName="description" (blur)="logValidationErrors()"></textarea>
                <div *ngIf="formErrors.description">
                    <div class="input-validation-error-message">{{formErrors.description}}</div>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <div class="custom-control custom-checkbox disabledChkBox">
                    <input type="checkbox" class="custom-control-input" formControlName="active" id="action_checkbox">
                    <label class="custom-control-label" for="action_checkbox">Disabled</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-12 col-md-12 col-12 mt-4 mb-4">
                <p-tabView class="flowTabView normalTabView">
                    <p-tabPanel header="FUNCTIONAL MAP">
                        <label for="des">Functional map</label>
                        <div *ngIf="!isFmLoading">
                            <div>
                                <span id="valid" class="e-error">(Please select at least one functional map)</span>
                            </div>
                            <div>
                                <a class="btn btn-link pl-0" (click)="expandAll()">
                                    <span class="font-weight-normal">{{isExpanded ? 'Collapse All' : 'Expand All'}}</span>
                                </a>
                            </div>
                            <div>
                                <p-tree [value]="arrTree" selectionMode="checkbox" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [(selection)]="selectedFile">
                                </p-tree>
                            </div>
                        </div>
                        <div class="mt-4" *ngIf="isFmLoading">
                            <div class="lc-loading-layer-dot-small animation-delay-50"></div>
                            <div class="lc-loading-layer-dot-small animation-delay-200 ml-4"></div>
                            <div class="lc-loading-layer-dot-small animation-delay-400 ml-5"></div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="ARCHIVE FUNCTIONAL MAP" *ngIf="(!isAdd && isArchivePackInstalled)">
                        <label for="des">Functional map</label>
                        <div *ngIf="!isFmLoading">
                            <div>
                                <span id="valid" class="e-error">(Please select at least one functional map)</span>
                            </div>
                            <div>
                                <a class="btn btn-link pl-0" (click)="expandAllArchive()">
                                    <span class="font-weight-normal">{{isArchiveExpanded ? 'Collapse All' : 'Expand All'}}</span>
                                </a>
                            </div>
                            <div>
                                <p-tree [value]="archiveArrTree" selectionMode="checkbox" [(selection)]="selectedArchiveFile">
                                </p-tree>
                            </div>
                        </div>
                        <div class="mt-4" *ngIf="isFmLoading">
                            <div class="lc-loading-layer-dot-small animation-delay-50"></div>
                            <div class="lc-loading-layer-dot-small animation-delay-200 ml-4"></div>
                            <div class="lc-loading-layer-dot-small animation-delay-400 ml-5"></div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        <div class="footer">
            <div class="row m-3">
                <div class="col-6">
                    <button class="btn btn-secondary btn-block" (click)="requestCancelled()">Cancel</button>
                </div>
                <div class="col-6" *ngIf="path === '/admin/profiles/addprofile'">
                    <button class="btn btn-primary btn-block" [disabled]="!isFormValid || !selectedFile.length" (click)="saveProfile(profileForm.value)">Save</button>
                </div>
                <div class="col-6" *ngIf="path !== '/admin/profiles/addprofile'">
                    <button class="btn btn-primary btn-block" [disabled]="!isFormValid || !selectedFile.length || (profileById?.superAdminProfile && currentUser?.superAdminUser) || (profileById?.adminProfile && currentUser?.adminUser)" (click)="updateProfile(profileForm.value)">Update</button>
                </div>
            </div>
        </div>
    </form>
</div>