.createScript {
  height: 73vh;
  overflow-x: hidden;
  overflow-y: auto;
  // padding: inherit;
  padding-right: 10px;
}

.status {
  font-family: FontAwesome, "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-left: 14px !important;
  color: black;
}

.statusRunning {
  color: green;
}

.statusStop {
  color: red;
}
