<div class="mb-5">
    <h1 class="font-weight-bold">Flow group</h1>
    <p>{{subHeading}}</p>
    <form [formGroup]="addEditFlowGrpForm">
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-6 col-12 mt-4">
                <label for="mname" class="required">Name</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid': (formErrors.name)}" id="mname"
                    formControlName="name" autocomplete="off" (blur)="logValidationErrors()">
                <div *ngIf="formErrors.name">
                    <div class="input-validation-error-message">{{formErrors.name}}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-6 col-12 mt-4">
                <label for="desc">Description</label>
                <textarea class="form-control" [ngClass]="{'is-invalid': (formErrors.description)}" id="desc" autosize
                    rows="3" cols="5" formControlName="description" (blur)="logValidationErrors()"></textarea>
                <div *ngIf="formErrors.description">
                    <div class="input-validation-error-message">{{formErrors.description}}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-6 col-12 mt-4">
                <label for="ws" class="required">Workspace</label>
                <select class="form-control" [ngClass]="{'is-invalid': (formErrors.workspace)}"
                    formControlName="workspace" id="ws" (blur)="logValidationErrors()">
                    <option *ngFor="let item of workspaces" [value]="item?.id">
                        {{item?.name}}
                    </option>
                </select>
                <div *ngIf="formErrors.workspace">
                    <div class="input-validation-error-message">{{formErrors.workspace}}</div>
                </div>
                <small *ngIf="webFlowGroup?.isFlowGrpConnected">
                    <strong>Note: </strong>
                    Flow group is connected to one or more business flow(s). Updating workspace can be done after removing the connections from business flow(s).
                </small>
            </div>
        </div>
        <div class="footer">
            <div class="row m-3 footer_btn">
                <div class="col-6">
                    <button class="btn btn-secondary btn-block" (click)="onCancelled()">Cancel</button>
                </div>
                <div class="col-6" *ngIf="path === '/business_management/web_flow_group/add_flow_group'">
                    <button class="btn btn-primary btn-block"
                        [disabled]="!addEditFlowGrpForm?.valid || !isFlowGroupCURDAccess" (click)="validateFlowGroup(true)">
                        Save
                    </button>
                </div>
                <div class="col-6" *ngIf="path !== '/business_management/web_flow_group/add_flow_group'">
                    <button class="btn btn-primary btn-block"
                        [disabled]="!addEditFlowGrpForm?.valid || !isFlowGroupCURDAccess" (click)="validateFlowGroup(false)">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>