<p-tabView class="flowTabView normalTabView" [(activeIndex)]="activeTab" (onChange)="handleChange($event?.index)">
    <p-tabPanel header="Templates">
        <div class="form-row" *ngIf="templatesItems?.length">
            <div class="form-group col-lg-6 col-md-6 col-12 mt-4">
                <input type="text" class="form-control empty" [(ngModel)]="searchTemplateStr" placeholder=" &#xF002; Search" autocomplete="off">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-12 col-md-12 col-12 mt-2">
                <div class="" *ngFor="let temp of templatesItems | searchFilter: searchTemplateStr : 'scriptName'; let i = index">
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" [id]="'temp' + i" [(ngModel)]="temp.checked" [disabled]="temp.disabled" (change)="onTemplateChange()">
                        <label class="custom-control-label" [for]="'temp' + i">
                            {{temp.scriptName}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="User scripts">
        <div class="form-row" *ngIf="scriptItems?.length">
            <div class="form-group col-lg-6 col-md-6 col-12 mt-4">
                <input type="text" class="form-control empty" [(ngModel)]="searchScriptStr" placeholder=" &#xF002; Search" autocomplete="off">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-12 col-md-12 col-12 mt-2">
                <div class="" *ngFor="let script of scriptItems | searchFilter: searchScriptStr : 'scriptName'; let i = index">
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" [id]="'script' + i" [(ngModel)]="script.checked" [disabled]="script.disabled" (change)="onScriptChange()">
                        <label class="custom-control-label" [for]="'script' + i">
                            {{script.scriptName}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>