.debug-parameter-tbl {
  height: 71vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-control-label::after {
  position: absolute;
  top: 0.1rem !important;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px) !important;
  padding: 0rem 1.6rem;
}

.txt_italic {
  font-style: italic;
}

.additional_params {
  background-color: rgba(246, 96, 96, 0.717);
}

@media only screen and (max-width: 760px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    // width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Name";
  }
  td:nth-of-type(2):before {
    content: "Value";
  }
  td:nth-of-type(3):before {
    content: "Data type";
  }
  td:nth-of-type(4):before {
    content: "Source";
  }
  td:nth-of-type(5):before {
    content: "Remove";
  }
}
