.integration-container {
  display: flex;
  height: 100%;
  // overflow: hidden;
}

.tree-panel {
  flex: 0 0 30%;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  padding-right: 15px;
  padding-left: 15px;
}

.details-panel {
  position: relative;
  overflow-y: auto;
  
  .sticky-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 1rem 0rem;
  }
}

.treeStyle {
  flex-grow: 1 !important;
  overflow-y: auto;
  min-height: 0;
  height: calc(100vh - 365px);
}

.details-panel {
  flex: 1;
  overflow-y: auto;
  // padding: 1rem;
  min-height: 0;
  height: calc(100vh - 265px);
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  align-items: baseline;
}

.disabled-tree-node {
  color: #999;
}

.sub_header_bg_color {
  background-color: #f8f8f8;
  // border-radius: .6rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.details_container {
  margin-left: 20px !important;
}

.details_padding {
  padding-left: 1.5rem;
}

.connected_exe_pad {
  padding-left: 31px;
}

:host {
  ::ng-deep .danger {
    // color: #E56385 !important;
    background-image: url(../../../../assets/svg/Error.svg);
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.7rem;
    display: inline-block;
  }
  ::ng-deep .success {
    // color: #6cc04a !important;
    background-image: url(../../../../assets/svg/Play.svg);
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.7rem;
    display: inline-block;
  }
  ::ng-deep .process_error {
    // color: #6cc04a !important;
    background-image: url(../../../../assets/svg/play_error.svg);
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.7rem;
    display: inline-block;
  }
  ::ng-deep .process_error {
    // color: #6cc04a !important;
    background-image: url(../../../../assets/svg/play_error.svg);
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.7rem;
    display: inline-block;
  }
  ::ng-deep .open_folder_error {
    // color: #E56385 !important;
    background-image: url(../../../../assets/svg/openFolderError.svg);
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.7rem;
    display: inline-block;
  }
  ::ng-deep .close_folder_error {
    // color: #E56385 !important;
    background-image: url(../../../../assets/svg/closeFolderError.svg);
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.7rem;
    display: inline-block;
  }
  ::ng-deep .highlighted-node {
    background-color: #007ad9;
    color: #ffffff;
    padding: 0.286em;
    border-radius: 3px;
  }

  ::ng-deep .ng-select .ng-value {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ::ng-deep .ng-select .ng-value-label {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

// .treeStyle {
//   height: 52vh;
//   overflow-y: auto;
// }

// .detailsStyle {
//   height: 60vh;
//   overflow-y: auto;
// }

.status_failed {
  background-color: #fee7e7;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.status_success {
  background-color: #e9f6e4;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.status_hold {
  background-color: #fdefe2;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.status_processing {
  background-color: #f1fced;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.status_processing_error {
  // background-color: #f1fced;
  background-image: linear-gradient(to right, #f1fced, #fee7e7);
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.error_icon {
  background-image: url(../../../../assets/svg/Error.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.8rem;
  display: inline-block;
}

.processing_error_icon {
  background-image: url(../../../../assets/svg/play_error.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.8rem;
  display: inline-block;
}

.success_icon {
  background-image: url(../../../../assets/svg/Check.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.8rem;
  display: inline-block;
}

.hold_icon {
  background-image: url(../../../../assets/svg/hold.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.8rem;
  display: inline-block;
}

.details_padding {
  padding-left: 1.5rem;
}

.connected_exe_pad {
  padding-left: 31px;
}

.hidden_params {
  font-style: italic;
  font-weight: bold;
}

.collapsed_img {
  background-image: url(../../../../assets/svg/collapse_icon.svg);
  width: 15px;
  height: 19px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: bottom;
}

.expand_img {
  background-image: url(../../../../assets/svg/expand_icon.svg);
  width: 15px;
  height: 19px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: bottom;
}

.resizable-container {
  display: flex;
  height: 100vh; /* Adjust as needed */
}

#left-section {
  display: flex;
  flex-direction: column;
  flex-basis: 25%; /* Initial width */
}

.resizer {
  width: 5px;
  background-color: #aaa;
  cursor: col-resize;
  user-select: none;
}

#right-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.truncate {
  display: inline-block; /* or block if you prefer */
  max-width: 100%; /* adjust width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
