.btn:focus,
.btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
  background-color: #eeeeee !important;
  color: #4a1111 !important;
  border-color: #e3e3e3 !important;
}

.modal-body {
  padding: 2.1rem 1.8rem !important;
}

@media (max-width: 399px) {
  .modal-footer > * {
    margin: -3.75rem;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}
