<div class="custom_mb">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-12" [ngClass]="isCreatePIT ? 'tbl_height' : 'tbl_height_properties'">
            <form [formGroup]="webServiceParametersForm">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-bordered-not-tbody">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Name</th>
                                <th>Info</th>
                                <th>Value</th>
                                <th>Data type</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="currentParameter">
                            <tr *ngFor="let para of webServiceParametersForm.get('currentParameter')['controls']; let i = index"
                                [formGroupName]="i">
                                <td>
                                    <input class="form-control form-control-sm"
                                        [ngClass]="para.controls.paramType.value === 'Private' ? 'txt_italic' : ''"
                                        formControlName="name" type="text" />
                                    <div class="mt-4" *ngIf="para.get('name')?.hasError('duplicateName')">
                                        <div class="input-validation-error-message">Parameters with the same name
                                            are
                                            not allowed.
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center align-bottom">
                                    <i class="infoIcon pointer-cursor"
                                        (click)="getParamsDescription(para.controls.description.value, para.controls.isNewParam.value)"></i>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm"
                                        *ngIf="para.controls.dataType.value === 'Boolean'"
                                        [ngClass]="para.controls.paramType.value === 'Private' ? 'txt_italic' : ''"
                                        formControlName="value">
                                        <option value="">- Select -</option>
                                        <option value="yes">yes</option>
                                        <option value="no">no</option>
                                    </select>
                                    <input class="form-control form-control-sm"
                                        *ngIf="para.controls.dataType.value !== 'Boolean'"
                                        [ngClass]="para.controls.paramType.value === 'Private' ? 'txt_italic' : ''"
                                        formControlName="value"
                                        [type]="para.controls.securityLevel.value === 'high' ? 'password' : 'text'"
                                        [matAutocomplete]="auto" />
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option
                                            *ngFor="let item of para.controls.probableValues.value  | searchFilter: para.controls.value.value : 'paramValues'"
                                            [value]="item?.paramValues">
                                            {{item?.paramValues}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </td>
                                <td [ngClass]="para.controls.isNewParam.value ? 'additional_params' : ''">
                                    <input class="form-control form-control-sm"
                                        [ngClass]="(para.controls.paramType.value === 'Private' ? 'txt_italic' : '') + '' + (para.controls.isNewParam.value ? 'additional_params' : '')"
                                        formControlName="dataType" type="text" />
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-link p-0"
                                        [class.disabled]="!para.controls.isNewParam.value && (!isAddMoreBtnEnabled || (para.controls.paramType.value != 1 && router?.url.includes('properties')))"
                                        (click)="removeAdditionalParams(i)">
                                        <span class="iconlabel mr-2 lc-icon-Trash-alt"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <button class="btn btn-link p-0"
                    [class.disabled]="router?.url.includes('properties') && !isAddMoreBtnEnabled"
                    (click)="addMoreParameters()">
                    Add more...
                </button> -->
                <ng-container>
                    <a class="btn btn-link pl-0" [class.disabled]="router?.url.includes('properties') && !isAddMoreBtnEnabled" (click)="addMoreParameters()">
                        <span class="iconlabel mr-2 lc-icon-Add"></span>
                        <span class="very-small-text">Add parameter</span>
                    </a>
                </ng-container>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-12"
            *ngIf="paramsDescriptionObj?.description && !paramsDescriptionObj?.isNewParams">
            <div class="form-row">
                <div class="form-group col-lg-12 col-md-12 col-12">
                    <label for="intname" class="">Description</label>
                    <p>
                        {{paramsDescriptionObj?.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>