<div class="container">
    <h2 class="font-weight-bold text-secondary">Change password</h2>
    <form [formGroup]="changePwForm">
        <div class="form-group">
            <label for="oldpw" class="required">Old password</label>
            <input id="oldpw" [type]="hideoldpw ? 'text' : 'password'" class="form-control" [ngClass]="{'is-invalid': formErrors.oldPassword}" formControlName="oldPassword" (blur)="logValidationErrors()" autocomplete="off">
            <span (click)="hideoldpw = !hideoldpw" [ngClass]="hideoldpw ? 'fa fa-eye-slash' : 'fa fa-fw fa-eye'" class="field-icon"></span>
            <div *ngIf="formErrors.oldPassword">
                <div class="input-validation-error-message">{{formErrors.oldPassword}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="newpw" class="required">New password</label>
            <input id="newpw" pPassword [type]="hidenewpw ? 'text' : 'password'" class="form-control" [ngClass]="{'is-invalid': formErrors.newPassword}" formControlName="newPassword" (blur)="logValidationErrors()" autocomplete="off">
            <span (click)="hidenewpw = !hidenewpw" [ngClass]="hidenewpw ? 'fa fa-eye-slash' : 'fa fa-fw fa-eye'" class="field-icon"></span>
            <div *ngIf="formErrors.newPassword">
                <div class="input-validation-error-message">{{formErrors.newPassword}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmpw" class="required">Confirm password</label>
            <input id="confirmpw" [type]="hidepw ? 'text' : 'password'" class="form-control" [ngClass]="{'is-invalid': formErrors.confirmPassword}" formControlName="confirmPassword" (blur)="logValidationErrors()" autocomplete="off">
            <span (click)="hidepw = !hidepw" [ngClass]="hidepw ? 'fa fa-eye-slash' : 'fa fa-fw fa-eye'" class="field-icon"></span>
            <div *ngIf="formErrors.confirmPassword">
                <div class="input-validation-error-message">{{formErrors.confirmPassword}}</div>
            </div>
        </div>
        <div class="form-group cp_btn">
            <div class="form-row">
                <div class="col-4">
                    <button class="btn btn-secondary btn-block" type="button" (click)="onCancel()">Cancel</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary btn-block" type="button" [disabled]="!changePwForm.valid" (click)="updatePassword(changePwForm.value)">Update</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-secondary btn-block" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>