.field-icon {
    float: right;
    cursor: pointer;
    margin: -26px 10px 0px 0px;
    position: relative;
    z-index: 2;
}

.cp_btn {
    margin-top: 4rem !important;
}

.ui-inputtext {
    border: 1px solid #DDDDDD !important;
    padding: .8rem 1.6rem !important;
    border-radius: .6rem !important;
}

.ui-inputtext:hover {
    background-color: #fff !important;
    border: 1px solid #DDDDDD !important;
}