:host {
    ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li a {
        padding: 1em 1em !important;
    }
    ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav {
        margin-bottom: -14px !important;
    }
}

input.empty {
    font-family: FontAwesome, "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 14px !important;
}

.custom-control-input {
    position: absolute !important;
    z-index: -1;
    opacity: 0;
}