// Admin card icon
.admin-card-img {
    color: rgb(255, 255, 255);
    height: 2.3rem;
    width: 2.3rem;
    background-color: #e8f6ff;
    // background-image: url(/../../assets/svg/User.svg);
    background-image: url(../../svg/user_admin_icon.svg);
    background-repeat: no-repeat;
}

.ws-mgmt-card-img {
    color: rgb(255, 255, 255);
    height: 2.3rem;
    width: 2.3rem;
    background-color: #e8f6ff;
    // background-image: url(/../../assets/svg/User.svg);
    background-image: url(../../svg/workspace_mgmt.svg);
    background-repeat: no-repeat;
}

.business-mgmt-card-img {
    color: rgb(255, 255, 255);
    height: 2.3rem;
    width: 2.3rem;
    background-color: #e8f6ff;
    // background-image: url(/../../assets/svg/User.svg);
    background-image: url(../../svg/business_mgmt.svg);
    background-repeat: no-repeat;
}

.app-services-mgmt-card-img {
    color: rgb(255, 255, 255);
    height: 2.3rem;
    width: 2.3rem;
    background-color: #e8f6ff;
    // background-image: url(/../../assets/svg/User.svg);
    background-image: url(../../svg/app_service_mgmt.svg);
    background-repeat: no-repeat;
}

// Task mgmt card icon
.task-mgmt-img {
    color: rgb(255, 255, 255);
    height: 2.3rem;
    width: 2.3rem;
    background-color: #e8f6ff;
    // background-image: url(/../../assets/svg/User.svg);
    background-image: url(../../svg/task_mgmt.svg);
    background-repeat: no-repeat;
}

// Configuration card icon
.configuration-card-img {
    color: rgb(255, 255, 255);
    height: 2.3rem;
    width: 2.3rem;
    background-color: #e8f6ff;
    // background-image: url(/../../assets/svg/User.svg);
    background-image: url(../../svg/configuration.svg);
    background-repeat: no-repeat;
}

// Tools card icon
.tools-img {
    color: rgb(255, 255, 255);
    height: 2.3rem;
    width: 2.3rem;
    background-color: #e8f6ff;
    // background-image: url(/../../assets/svg/User.svg);
    background-image: url(../../svg/tools.svg);
    background-repeat: no-repeat;
}