.wizard-footer {
    border-top: 1px solid #ddd;
    padding: 1rem 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    // animation: silde_in_from_bottom 0.3s ease-out;
    .form-group {
        margin-bottom: 0;
    }
}