.lc-menu-button {
    display: flex;
    align-items: center;
    padding: 0;
}

.lc-menu-button [class^="lc-icon-"],
.lc-menu-button [class*=" lc-icon-"] {
    font-size: 3.2rem;
}

.lc-menu-title {
    font-size: 1.9rem !important;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: inherit !important;
    color: #333;
    padding-left: 1.25rem;
    margin-bottom: .8rem;
    margin-top: 5.5rem;
    letter-spacing: 0.16rem !important;
    line-height: 1.9rem !important;
}

.lc-menu-title+hr {
    border-top: 1px solid #ddd;
    margin-top: 0;
    margin-bottom: .8rem;
}