<div class="wrapper">
    <p-scrollPanel [style]="{width: '100%', height: 'calc(100%)'}" styleClass="customscrollbar-gray">
        <div class="container" style="max-width: 120rem; padding-top: 4.3rem;">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-lg-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 col-sm-12 pd">
                            <h1 class="font-weight-bold">
                                Admin dashboard
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 6.7rem;">
                <div class="col-lg-3 col-md-3 col-12" *ngIf="true">
                    <div *ngIf="true" class="row justify-content-center">
                        <div class="row justify-content-center">
                            <div *ngIf="true" class="col-lg-12 col-md-12 col-12">
                                <div class="card-wrapper">
                                    <div class="utilities d-none">
                                        <div class="dropdown show">
                                            <a class="btn no-border pt-0" href="#" role="button" id="dashboarddropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dashboarddropdownMenuLink">
                                            </div>
                                        </div>
                                    </div>
                                    <a routerLink="/admin" class="lc-card-link">
                                        <div class="card mb-3 lc-card" tabindex="4">
                                            <div class="card-front ">
                                                <div class="card-body">
                                                    <div class="lc-card-image">
                                                        <div class="admin-card-img"></div>
                                                    </div>
                                                    <h3 class="card-title font-weight-bold">User management</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12" *ngIf="true">
                    <div *ngIf="true" class="row justify-content-center">
                        <div class="row justify-content-center">
                            <div *ngIf="true" class="col-lg-12 col-md-12 col-12">
                                <div class="card-wrapper">
                                    <div class="utilities d-none">
                                        <div class="dropdown show">
                                            <a class="btn no-border pt-0" href="#" role="button" id="dashboarddropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dashboarddropdownMenuLink">
                                            </div>
                                        </div>
                                    </div>
                                    <a routerLink="/workspace_management" class="lc-card-link">
                                        <div class="card mb-3 lc-card" tabindex="4">
                                            <div class="card-front ">
                                                <div class="card-body">
                                                    <div class="lc-card-image">
                                                        <div class="admin-card-img"></div>
                                                    </div>
                                                    <h3 class="card-title font-weight-bold">Workspace management</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-12" *ngIf="true">
                    <div *ngIf="true" class="row justify-content-center">
                        <div class="row justify-content-center">
                            <div *ngIf="true" class="col-lg-12 col-md-12 col-12">
                                <div class="card-wrapper">
                                    <div class="utilities d-none">
                                        <div class="dropdown show">
                                            <a class="btn no-border pt-0" href="#" role="button" id="dashboarddropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dashboarddropdownMenuLink">
                                            </div>
                                        </div>
                                    </div>
                                    <a routerLink="/workspace_management" class="lc-card-link">
                                        <div class="card mb-3 lc-card" tabindex="4">
                                            <div class="card-front ">
                                                <div class="card-body">
                                                    <div class="lc-card-image">
                                                        <div class="admin-card-img"></div>
                                                    </div>
                                                    <h3 class="card-title font-weight-bold">Business management</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-3 col-md-3 col-12" *ngIf="true">
                    <div *ngIf="true" class="row justify-content-center">
                        <div class="row justify-content-center">
                            <div *ngIf="true" class="col-lg-12 col-md-12 col-12">
                                <div class="card-wrapper">
                                    <div class="utilities d-none">
                                        <div class="dropdown show">
                                            <a class="btn no-border pt-0" href="#" role="button" id="dashboarddropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dashboarddropdownMenuLink">
                                            </div>
                                        </div>
                                    </div>
                                    <a routerLink="/application_services_management" class="lc-card-link">
                                        <div class="card mb-3 lc-card" tabindex="4">
                                            <div class="card-front ">
                                                <div class="card-body">
                                                    <div class="lc-card-image">
                                                        <div class="admin-card-img"></div>
                                                    </div>
                                                    <h3 class="card-title font-weight-bold">App services management</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </p-scrollPanel>
</div>