.top_closed_btn {
    float: right;
    text-decoration: none;
}

.details {
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    // padding: inherit;
    padding-right: 10px;
}